*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
width: 100vw;
height: 1000px;
background-color: #181818;
}

.item{
	position: relative;
	width: 200px;
	height: 200px;
	/* background-color: #fff; */
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('Subtract.svg');
	background-position: center center;
	overflow: hidden;
}

.scale-up-center {

	background-color: #21bd7e;

	position: absolute;
	z-index: -1;
	border-radius: 50%;
	animation: scale-up-center 3s ease-in-out infinite alternate both;
}

@keyframes scale-up-center {
	0% {
		width: 0px;
		height: 0px;
		box-shadow: inset 0px 0px 10px 0px #181818;
	}
	100% {
		box-shadow: inset 0px 0px 100% 100px  #181818;
	  width: 200px;
	  height: 200px;
	  /* border: 100px solid #21bd7e; */
	}
 }