*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;
background-color: #181818;
overflow: hidden;
}
.item-wrapper{
	background-color: #fff;
	width: 300px;
	height: 300px;
	position: relative;
	overflow: hidden;
	background: radial-gradient(circle, rgba(24,24,24,0.4) 20%, rgba(24,24,24,0) 40%, rgba(24,24,24,0.4) 60%, rgba(24,24,24,0) 80%);
}
.item{
	position: absolute;
	z-index: 1;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	/* border: 2px solid #000; */
}
.bg{
	position: absolute;
	z-index: 2;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 300px;
	height: 300px;
	background-size: contain;
	background-position: center center;
}
.svg{
	position: absolute;
	z-index: 9;
	top: 0%;
	left: 0%;
	transform: translate(-50, -50%);
	width: 100%;
	height: 100%;
}

.scale-up-center {
	position: absolute;
	z-index: -2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0px; 
	height: 0px; 
	background: radial-gradient(circle, rgba(33,189,126,0) 0%, rgba(0,255,152,1) 100%);
	animation: scale-up-center 3s ease-out alternate both;
	animation-delay: 1s;
}
.scale-up-center:before, 
.scale-up-center:after {
	content: "";
	height: 100%; 
	width:100%;
	background: inherit;
	position: absolute;
	top: 0; 
	left: 0;
}
.scale-up-center:before {
	transform: rotate(30deg);
}
.scale-up-center:after {
	transform: rotate(60deg);
}

.circle{
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30px;
	height: 30px;
	background-color: transparent;
	box-shadow: 0px 0px 6px 2px #fff;
	border-radius: 50%;
	animation-delay: 1.25s;
	animation: circle 2s cubic-bezier(0.150, 0.760, 0.850, 0.940) both;
	opacity: 0;
}
@keyframes scale-up-center {
	0% {
		/* border-radius: 50%; */
	}
	50% {

	}
	100% {
		height: 72%; 
		width: 72%;
	}
 }



 @keyframes circle {
	0% {
	opacity: 0;	
	}
	100% {
		opacity: 1;
	}
 }