*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
width: 100vw;
height: 1000px;
background-color: #181818;
}

.item{
	position: relative;
	width: 200px;
	height: 200px;
	/* background-color: #fff; */
	background-image: url('Subtract.svg');
	background-position: center center;
	/* overflow: hidden; */
}

.scale-up-center {
	position: absolute;
	z-index: -2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0px; 
	height: 0px; 
	background: #21bd7e;
	animation: scale-up-center 3s ease-out alternate both;
	/* box-shadow: 0px 0px 10px #fff; */
}

.scale-up-center1 {
	position: absolute;
	z-index: -2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%; 
	height: 100%; 
	background: transparent;
	animation: scale-up-center 3s ease-out alternate both;
	box-shadow: 0px 0px 10px #fff;
}
.scale-up-center1:before, 
.scale-up-center1:after,
.scale-up-center:before, 
.scale-up-center:after {
content: "";
height: 100%; 
width:100%;
background: inherit;
position: absolute; 
top: 0; 
left: 0;
}
.scale-up-center1:before, 
.scale-up-center1:after{
	box-shadow: 0px 0px 10px #fff;

}
.scale-up-center1:before,
.scale-up-center:before {
transform: rotate(30deg);
}
.scale-up-center1:after,
.scale-up-center:after {
transform: rotate(60deg);
}
.little-circle{
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(255, 255, 255);
	width: 0;
	height: 0;
	max-width: 50px;
	max-height: 50px;
	border-radius: 50%;
	transition-delay: 1s;
	transition: all 1s;
	animation: scale-up-center 3s ease-in-out infinite alternate both;
}
@keyframes scale-up-center {
	0% {
		/* border-radius: 50%; */
	}
	50% {

	}
	100% {
		height: 120%; 
		width: 120%;
	}
 }

 @keyframes little-circle {
	0% {
		width: 30px;
		height: 30px;
	}
	50% {

	}
	100% {

	}
 }